<ng-container *ngIf="postData$ | async as postData; else elseTemplate">
    <mat-list>
        <mat-list-item *ngFor="let post of postData; trackBy: trackByCreated">
          <img matListAvatar src={{post.character?.imageUrl}} alt="...">
          <h3 matLine> {{ post.character.name }} </h3>
          <p matLine>
            <span> Happy </span>
            <span class="demo-2"> -- {{post.post.body}} </span>
          </p>
          <mat-divider>
          </mat-divider>
        </mat-list-item>
      </mat-list>
      <mat-divider>
      </mat-divider>
</ng-container>
<br>
<div class="conversation-input" *ngIf="currentCharacter$ | async as currentCharacter">
  <form [formGroup]="this.postService.postForm" novalidate>
      <mat-form-field class="full-width">
          <input matInput placeholder="Start chatting..." formControlName="body">
          <mat-icon matSuffix (click)="onSubmit(currentCharacter)">send</mat-icon>
        </mat-form-field>
  </form>
  <div [froalaEditor]>Hello, Froala!</div>
</div>
<ng-template #elseTemplate>
  <p>i'm broken</p>
</ng-template>