<!-- <form [formGroup]="this.campaignService.campaignForm" novalidate>
  <mat-card class="shipping-card">
    <mat-card-header>
      <mat-card-title>New Campaign</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Campaign Title" formControlName="title">
            <mat-error *ngIf="this.campaignService.campaignForm.controls['title'].hasError('required')">
              Title is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" (click)="onSubmit()">Submit</button>
    </mat-card-actions>
  </mat-card>
</form> -->

<mat-vertical-stepper [linear]="true" #stepper>
  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup" class="example-form">
      <ng-template matStepLabel>Basic Information</ng-template>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Campaign Name" formControlName="name" required>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <textarea matInput placeholder="Overview" formControlName="overview" required></textarea>
      </mat-form-field>
      <div>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>System</ng-template>
      <mat-form-field class="example-full-width">
          <mat-label>Game System</mat-label>
  <mat-select formControlName="system">
    <mat-option *ngFor="let system of systems" [value]="system.value">
      {{system.viewValue}}
    </mat-option>
  </mat-select>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="thirdFormGroup">
    <form [formGroup]="thirdFormGroup">
      <ng-template matStepLabel>Meta</ng-template>
      <mat-form-field class="example-full-width">
          <mat-label>Genre</mat-label>
          <mat-select formControlName="genre">
              <mat-option *ngFor="let genre of genres" [value]="genre.value">
                {{genre.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>
      <mat-form-field class="example-full-width">
          <mat-label>Maturity Rating</mat-label>
          <mat-select formControlName="maturityRating">
              <mat-option *ngFor="let maturityRating of maturityRatings" [value]="maturityRating.value">
                {{maturityRating.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>
      <mat-form-field class="example-full-width">
          <mat-label>Pace</mat-label>
          <mat-select formControlName="pace">
              <mat-option *ngFor="let pace of paceOptions" [value]="pace.value">
                {{pace.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    You are now done.
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step>
</mat-vertical-stepper>
