<form [formGroup]="this.campaignService.campaignForm" novalidate>
  <mat-card class="shipping-card">
    <mat-card-header>
      <mat-card-title>New Campaign</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Campaign Title" formControlName="title">
            <mat-error *ngIf="this.campaignService.campaignForm.controls['title'].hasError('required')">
              Title is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <mat-select placeholder="characters" formControlName="characterSelect">
              <mat-option *ngFor="let character of characters | async" [value]="character.id">
                {{ character.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" (click)="onSubmit()">Submit</button>
    </mat-card-actions>
  </mat-card>
</form>
