<form [formGroup]="this.authService.authForm" novalidate>
  <mat-card>
    <mat-card-header>
      <mat-card-title>Register</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col">
          <mat-form-field>
            <input matInput type="email" placeholder="Email" formControlName="email" required>
            <mat-error *ngIf="this.authService.authForm.controls['email'].hasError('required')">
              Email is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput type="password" placeholder="Password" formControlName="password" required>
            <mat-error *ngIf="this.authService.authForm.controls['password'].hasError('required')">
              Password is <strong>required</strong>
            </mat-error>
            <label class="error">{{errorMessage}}</label>
            <label class="success">{{successMessage}}</label>
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" (click)="tryRegister(this.authService.authForm.value)">Submit</button>
    </mat-card-actions>
    If you aleady have an account you can <a [routerLink]="['/login']"> login here</a>. Or login with google <button mat-raised-button (click)="loginWithGoogle()">Login with Google</button>
  </mat-card>
</form>
